.Cell {
  height: 100px;
  width: 100px;
  background-color: #263238;
  outline: 1px solid black;
  transition: background-color 0.5s ease;
  border-radius: 1px;
}

.Cell-lit {
  background-color: #00bcd4;
}

.Cell:hover {
  cursor: pointer;
}
